{{#include "_partials/fields"}}{{/include}}

{{#partial "inner"}}

<h1 class="page-header">{{i18n "linch.settings"}}</h1>

<form class="form-horizontal" role="form">

    {{#block "readonlyField" name="indexPath" value=indexPath.value i18nKey="linch.settings.indexPath"}}{{/block}}

    {{#block "buttonsField"}}
        <a href="{{path "edit"}}" class="btn btn-default">{{i18n "linch.form.edit"}}</a>
    {{/block}}

</form>

{{/partial}}

{{>admin/_base}}