{{<../super}}{{$content}}

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="{{#path}}/admin{{/path}}" class="list-group-item {{#navIndex}}active{{/navIndex}}">{{#i18n}}linch.admin{{/i18n}}</a>
            <a href="{{#path}}/admin/users{{/path}}" class="list-group-item {{#navUsers}}active{{/navUsers}}">{{#i18n}}linch.users{{/i18n}}</a>
            <a href="{{#path}}/admin/groups{{/path}}" class="list-group-item {{#navGroups}}active{{/navGroups}}">{{#i18n}}linch.groups{{/i18n}}</a>
        </div>
    </div>
    <div class="col-md-9">
        {{$inner}}{{/inner}}
    </div>
</div>


{{/content}}{{/../super}}