{{<../super}}{{$content}}

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="{{#path}}/admin{{/path}}" class="list-group-item {{#navIndex}}active{{/navIndex}}">Admin</a>
            <a href="{{#path}}/admin/users{{/path}}" class="list-group-item {{#navUsers}}active{{/navUsers}}">Users</a>
        </div>
    </div>
    <div class="col-md-9">
        {{$inner}}{{/inner}}
    </div>
</div>


{{/content}}{{/../super}}