{{<../super}}{{$content}}

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li {{#navIndex}}class="active"{{/navIndex}}><a href="{{#path}}/admin{{/path}}">Admin</a></li>
            <li {{#navUsers}}class="active"{{/navUsers}}><a href="{{#path}}/admin/users{{/path}}">Users</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        {{$inner}}{{/inner}}
    </div>
</div>


{{/content}}{{/../super}}