{{<super}}{{$inner}}

<h1 class="page-header">Change Password</h1>

<form class="form-horizontal" role="form" action="{{#path}}.{{/path}}" method="post">
    {{#error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/error}}
    {{#success}}
        <div class="alert alert-success">{{success}}</div>
    {{/success}}
    {{^success}}
        <div class="form-group">
            <label for="currentPassword" class="col-sm-3 control-label">Current Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword" class="col-sm-3 control-label">New Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword2" class="col-sm-3 control-label">New Password (again)</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="newPassword2" name="newPassword2" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <input class="btn btn-default" type="submit" name="submit" value="Save">
            </div>
        </div>
    {{/success}}
</form>

{{/inner}}{{/super}}