{{#include "_partials/fields"}}{{/include}}

{{#partial "inner"}}

<h1 class="page-header">{{i18n "linch.profile.change.password"}}</h1>

<form class="form-horizontal" role="form" action="{{path "doChangePassword"}}" method="post">
    {{#success}}
        <div class="alert alert-success">{{i18n "linch.profile.password.changed"}}</div>
    {{/success}}
    {{^success}}

        {{#block "passwordField" name="currentPassword" value=form.currentPassword error=form.currentPassword.error i18nKey="linch.profile.current.password"}}{{/block}}
        {{#block "passwordField" name="newPassword" value=form.newPassword error=form.newPassword.error i18nKey="linch.profile.new.password"}}{{/block}}
        {{#block "passwordField" name="confirmNewPassword" value=form.confirmNewPassword error=form.confirmNewPassword.error i18nKey="linch.profile.confirm.new.password"}}{{/block}}

        {{#block "buttonsField"}}
            <input class="btn btn-primary" type="submit" name="submit" value="{{i18n "linch.form.save"}}">
        {{/block}}

    {{/success}}
</form>

{{/partial}}

{{>profile/_base}}