{{#include "_partials/fields"}}{{/include}}

{{#partial "inner"}}

<h1 class="page-header">{{i18n "linch.profile"}}</h1>

<form class="form-horizontal" role="form">

    {{#block "readonlyField" name="username" value=user.username i18nKey="linch.user.username"}}{{/block}}
    {{#block "readonlyField" name="firstName" value=user.firstName i18nKey="linch.user.first.name"}}{{/block}}
    {{#block "readonlyField" name="lastName" value=user.lastName i18nKey="linch.user.last.name"}}{{/block}}
    {{#block "readonlyField" name="email" value=user.email i18nKey="linch.user.email"}}{{/block}}

    {{#block "buttonsField"}}
        <a href="{{path "edit"}}" class="btn btn-default">{{i18n "linch.form.edit"}}</a>
    {{/block}}

</form>

{{/partial}}

{{>profile/_base}}