{{<../super}}{{$inner}}

<h1 class="page-header">{{#i18n}}linch.groups.add.member{{/i18n}}: {{group.groupname}}</h1>


<form class="form-horizontal" role="form" action="{{#path}}doAddMember{{/path}}" method="post">
    <input type="hidden" name="groupname" value="{{group.groupname}}">

    <div class="form-group {{#form.username.error}}has-error{{/form.username.error}}">
        <label class="col-sm-3 control-label">{{#i18n}}linch.user.username{{/i18n}}</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="username" name="username" value="{{form.username}}" required>
            {{#form.username.error}}<span class="help-block">{{.}}</span>{{/form.username.error}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <input class="btn btn-primary" type="submit" name="submit" value="{{#i18n}}linch.form.save{{/i18n}}">
            <a class="btn btn-default" href="{{#path}}index{{/path}}">{{#i18n}}linch.form.cancel{{/i18n}}</a>
        </div>
    </div>
</form>

{{/inner}}{{/../super}}