{{<../super}}{{$inner}}

<h1 class="page-header">{{#i18n}}linch.groups{{/i18n}}</h1>

<table class="table">
    <thead>
    <tr>
        <th>{{#i18n}}linch.group.name{{/i18n}}</th>
    </tr>
    </thead>
    <tbody>
    {{#groups}}
        <tr>
            <td><a href="{{#path}}view?groupname={{groupname}}{{/path}}">{{groupname}}</a></td>
        </tr>
    {{/groups}}
    {{^groups}}
        <tr>
            <td colspan="4">{{#i18n}}linch.groups.no.groups{{/i18n}}</td>
        </tr>
    {{/groups}}
    </tbody>
</table>

<a href="{{#path}}create{{/path}}">{{#i18n}}linch.groups.add.group{{/i18n}}</a>

{{/inner}}{{/../super}}