{{<../super}}{{$inner}}

<h1 class="page-header">{{#i18n}}linch.users.add.user{{/i18n}}</h1>


<form class="form-horizontal" role="form" action="{{#path}}.{{/path}}" method="post">
    <div class="form-group {{#form.username.error}}has-error{{/form.username.error}}">
        <label class="col-sm-3 control-label">{{#i18n}}linch.user.username{{/i18n}}</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="username" name="username" value="{{form.username}}" required>
            {{#form.username.error}}<span class="help-block">{{.}}</span>{{/form.username.error}}
        </div>
    </div>
    <div class="form-group {{#form.firstName.error}}has-error{{/form.firstName.error}}">
        <label for="firstName" class="col-sm-3 control-label">{{#i18n}}linch.user.first.name{{/i18n}}</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="firstName" name="firstName" value="{{form.firstName}}">
            {{#form.firstName.error}}<span class="help-block">{{.}}</span>{{/form.firstName.error}}
        </div>
    </div>
    <div class="form-group {{#form.lastName.error}}has-error{{/form.lastName.error}}">
        <label for="lastName" class="col-sm-3 control-label">{{#i18n}}linch.user.last.name{{/i18n}}</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="lastName" name="lastName" value="{{form.lastName}}">
            {{#form.lastName.error}}<span class="help-block">{{.}}</span>{{/form.lastName.error}}
        </div>
    </div>
    <div class="form-group {{#form.email.error}}has-error{{/form.email.error}}">
        <label for="email" class="col-sm-3 control-label">{{#i18n}}linch.user.email{{/i18n}}</label>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="email" name="email" value="{{form.email}}" required>
            {{#form.email.error}}<span class="help-block">{{.}}</span>{{/form.email.error}}
        </div>
    </div>
    <div class="form-group {{#form.password.error}}has-error{{/form.password.error}}">
        <label for="password" class="col-sm-3 control-label">{{#i18n}}linch.user.password{{/i18n}}</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="password" name="password" value="{{form.password}}" required>
            {{#form.password.error}}<span class="help-block">{{.}}</span>{{/form.password.error}}
        </div>
    </div>
    <div class="form-group {{#form.confirmPassword.error}}has-error{{/form.confirmPassword.error}}">
        <label for="confirmPassword" class="col-sm-3 control-label">{{#i18n}}linch.users.confirm.password{{/i18n}}</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" value="{{form.confirmPassword}}" required>
            {{#form.confirmPassword.error}}<span class="help-block">{{.}}</span>{{/form.confirmPassword.error}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <input class="btn btn-default" type="submit" name="submit" value="{{#i18n}}linch.save{{/i18n}}">
        </div>
    </div>
</form>

{{/inner}}{{/../super}}