{{<../super}}{{$inner}}

<h1 class="page-header">{{#i18n}}linch.users{{/i18n}}</h1>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>{{#i18n}}linch.username{{/i18n}}</th>
        <th>{{#i18n}}linch.first.name{{/i18n}}</th>
        <th>{{#i18n}}linch.last.name{{/i18n}}</th>
        <th>{{#i18n}}linch.email{{/i18n}}</th>
    </tr>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td>{{id}}</td>
            <td><a href="{{#path}}users/view?username={{username}}{{/path}}">{{username}}</a></td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{email}}</td>
        </tr>
    {{/users}}
    {{^users}}
        <tr>
            <td colspan="4">{{#i18n}}linch.no.users{{/i18n}}</td>
        </tr>
    {{/users}}
    </tbody>
</table>

{{/inner}}{{/../super}}